%h3 Current Decision Trees
.well
  - if @assignments.blank?
    There are no decision trees currently
  - @assignments.each do |assg|
    %p
      - name = assg[1].gsub("."," - ").humanize
      %button.btn.btn-chosen{title: "Remove #{name}", data: {role: 'assignment-remover', "drug-uuid" => @drug_uuid, "diagnosis-id" => assg[0]}}
        %i.fa.fa-2x.fa-times-circle-o
        = name

.diagnosis.well
  - if @category == 'top'
    Click categories below to add a decision tree
  - chain = []
  - @category.split('.').each do |top_category|
    - chain  << top_category
    - next if top_category == 'top'
    %button.btn.btn-primary.btn-tree-selector{data: {'drug-uuid' => @drug_uuid, role: 'decision-tree-builder', category: chain.join('.')}}= top_category.humanize

.drug-choices.well
  - @choices.compact.each do |choice|
    - display_choice = choice[0]
    - choice_category = @category.present? ? "#{@category}.#{display_choice}" : display_choice
    %button.btn.btn-primary.btn-tree-selector{data: {role: 'decision-tree-builder', 'drug-uuid' => @drug_uuid, category: choice_category}}= display_choice.humanize

