Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/https.conf:
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://my_app;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }

          location /assets {
            alias /var/app/current/public/assets;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }

          location /public {
            alias /var/app/current/public;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }
      }

  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIID3jCCAsYCCQDpL/oeJBhBbjANBgkqhkiG9w0BAQUFADCBsDELMAkGA1UEBhMC
      VVMxETAPBgNVBAgTCElsbGlub2lzMRAwDgYDVQQHEwdDaGljYWdvMRowGAYDVQQK
      ExFTdGF0IFBhdGllbnQgSW5jLjENMAsGA1UECxMETWFpbjEvMC0GA1UEAxMmc3Rh
      dC1wYXRpZW50LWJldGEuZWxhc3RpY2JlYW5zdGFsay5jb20xIDAeBgkqhkiG9w0B
      CQEWEXJvbmVzdG9AZ21haWwuY29tMB4XDTE2MDEyOTEzNTgwN1oXDTE3MDEyODEz
      NTgwN1owgbAxCzAJBgNVBAYTAlVTMREwDwYDVQQIEwhJbGxpbm9pczEQMA4GA1UE
      BxMHQ2hpY2FnbzEaMBgGA1UEChMRU3RhdCBQYXRpZW50IEluYy4xDTALBgNVBAsT
      BE1haW4xLzAtBgNVBAMTJnN0YXQtcGF0aWVudC1iZXRhLmVsYXN0aWNiZWFuc3Rh
      bGsuY29tMSAwHgYJKoZIhvcNAQkBFhFyb25lc3RvQGdtYWlsLmNvbTCCASIwDQYJ
      KoZIhvcNAQEBBQADggEPADCCAQoCggEBANnI5ZtLJhNec+SQOm8MrX20vxqF4cw0
      pylsksaYATv8HafAE6k9Nda+pSFISGI+PkbdyB6X9mZYsmksc7s2ZGxUom9+TtMi
      JJnOsEPSCE0Kz9m4ag6s4F7jzL7egT++inX7b6kZeT/PCF6lkW4v/qtDUE70w4lO
      QiKRuOowMNWKYkBAoikbOIyhDxm/k/T9DhZYeHcRAdow4sLYjTmkEukyKAt4sLRe
      d8oUKlMhuR1wamepKtkDqQFnSdEr9eEY6owlMTj4bvqexHDfQMd2bUWRCxk5XDYE
      6W7hdQSRLKdj4eFypVWUYiAVnFsXDNG05m19BLGhOhQSRPatiahAhpUCAwEAATAN
      BgkqhkiG9w0BAQUFAAOCAQEADnp+kTHgTjULIV8ZIyLwFuKlfBAUr+/KoErrkhe2
      usBtaJOX14mcBfWk3ajp33dOAwNJF3wPcTkK/qOvh+ArQIrIPYmi1WCbLKcGgdNQ
      ziNwSIdA04WmO2gbOKf9SgEQ8kICh9OmbFQQTSAPCBYER/iMofOS45VeVn5J8vDa
      feVQT9xCYnqUV9yXThJKCmWIdoCTGTorikLpN38nXf7I2WRVWB1jfquMcF187oh9
      /IaMi57Hbg/PrxfPrtclaNS65Jqhcwah48AISEjSlLum75KDJ401SgcvSiyR7NaY
      L2QAuC44GtTDV9/KLaVzpy5uZqn7V0yKWkz3iSWKg0emsg==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEA2cjlm0smE15z5JA6bwytfbS/GoXhzDSnKWySxpgBO/wdp8AT
      qT011r6lIUhIYj4+Rt3IHpf2ZliyaSxzuzZkbFSib35O0yIkmc6wQ9IITQrP2bhq
      DqzgXuPMvt6BP76KdftvqRl5P88IXqWRbi/+q0NQTvTDiU5CIpG46jAw1YpiQECi
      KRs4jKEPGb+T9P0OFlh4dxEB2jDiwtiNOaQS6TIoC3iwtF53yhQqUyG5HXBqZ6kq
      2QOpAWdJ0Sv14RjqjCUxOPhu+p7EcN9Ax3ZtRZELGTlcNgTpbuF1BJEsp2Ph4XKl
      VZRiIBWcWxcM0bTmbX0EsaE6FBJE9q2JqECGlQIDAQABAoIBAF4PT2N33HUHGUTB
      KgumTRP6yYLaCgCZSQ0yEF5nbjkLFX/LDHLOtf8OjeFHB8Qun9UZmoHkHg5sBno4
      Ma/MuSi0kQdYZRD5MReg1i4ke2NS5RxicqPt9GXnOxnAnc/7Km/0bXB6SQzPDQ1b
      sukFH5e2VewT+JPH0fZ+O4Ah2iWPd9f/gR/eUlliXISPnfONHwX5B7RYVdf/EEEd
      JvuC8oMrtUTJjXQaTrRa+8UJGdO7bRZ9eGqr3SVnTlCbMHDmzxZqDKBPzUOOQ70D
      /ZyVpQ+fLSbNEWKAJUGtpMJnSmHgQPZNwRMizgp2RGZ9MboAscG918nIMxK63F/r
      5bPXf+ECgYEA97HdvkB48ywKz6Q7Dzf6esYovcya7qrQ3kJxToZOn9XIVoOTDAec
      6uPNDeSQsxSkiXM/xBZiEqgZ1j0lmcFTN7kS5Dk4b6S25xmT3Ba7GzHxbrFx8Q4V
      TD5beUYQ8npjLiBHH+YzIcS1CoaxN0Y6dT0cefnREzBI3i9KettU/Y0CgYEA4RZK
      270CTURA7Kr6PnipTXjUyo/6otejBAno5QdpHJfB1YGBGq3vGXObgK3edmJ3/n6K
      dZUpq4mMzPI1QRucDvmplcaKad2X2MDDUxpbtQKghHcZHUnEHOpQJcOC0Nysma8J
      5maCK9Lp2IpfoLcPJGz8oiDPFgOBfS8Dtz6dVykCgYARlArjlJnA0DBYOhSC6Psa
      uXNsvNeF9pNqIpb99qQfzcEw+pd19BhbxxznToBCZUWkB4zP8rK1Fj73KFHBzqmE
      O9suXS03Jx5f2j3XEbnnnSzAKVGnxNMYHRjKy4EqZCsju+CwT9rzG42pmJN9E7vU
      VCjwMx12WifhtMN5YpVuhQKBgQDaufPyhkAnX20LzrYwYMZ8jy+Qy8rN1WgG865K
      aSIec+YbGKahi2XuQKZarBqixds/Bi58Rn/gvmCBg9h2NWM4NioybmVwrLHzIpZs
      Og/l3PCo6KcSC+2z/4n0uIF1fwuGqE6hgvl5ppIxJ333ygu/5Ny2m9VA2hVJ1Zbx
      ybnRyQKBgAfmuouRBYawVXPIl/ayeFuBaBCexfJFBVsJaVs44k+hvsqwWC6sG+NT
      5cFoaHFiJampYQWcjW73rfIJhmNsNV+BF50XfV2rzFRBA2NzZjz2FG9Q0+JknwSX
      ZL1ROdcgfXxZc1PscqyAO7UODq35WN3/A5cPzQl106Zjqd6PmGiA
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"
