.lab-item-types.next{data: {role: "ceramic-container"}}
  = render "fixed_lab_item_types_title_bar", title: "Select a material", back: "types"
  - Labs::Catalog.new.items["Ceramic"]["material"].each do |material|
    = button_tag material, class: "btn btn-primary type-button", data: { next: "[data-role='shades-ceramic-container']"}, role: "item-option"
= render "shades", type: "ceramic", back: "ceramic", next_step: "[data-role='occlusion-ceramic-container']"
= render "occlusion_contacts", type: "ceramic", back: "shades-ceramic"

