- list_type ||= "active"
%thead.inbox-header
  %th.col-sm-4 Lab
  %th.col-sm-3 Patient
  %th.col-sm-3 Order date
  %th.col-sm-1 Type
  %th.col-sm-2 Status
  - if list_type != "closed"
    %th.col-sm-2 Close
%tbody
  - orders.each do |order|
    = render partial: "order_row", locals: {order: order, list_type: list_type}
