= render 'patient_rx_page'

.row
  .col-sm-4
    .print-buttons.rx-buttons
      = link_to "Print Prescription",print_prescription_order_path(@prescription_order) , target: 'rx-print', data: {}, class: "btn-standard btn btn-primary "

