.remodal{data: {remodal_id: "modal"}}
  %ul#tooth-chart{data: {tooth_chart_path: tooth_chart_path(@case.tooth_chart)}}
    -(1..16).each do |i|
      %li{class: ["tooth", "tooth-#{i}"], data: {tooth_id: i}}
    -32.downto(17) do |i|
      %li{class: ["tooth", "tooth-#{i}"], data: {tooth_id: i}}

#tooth-chart-dialog