= link_to image_tag(@case.tooth_chart.chart.url(:web_viewer)), "#modal"

.remodal{data: {remodal_id: "modal"}}
  %ul#selectable
    %li.tooth.tooth-1
    %li.tooth.tooth-2
    %li.tooth.tooth-3
    %li.tooth.tooth-4
    %li.tooth.tooth-5
    %li.tooth.tooth-6
    %li.tooth.tooth-7
    %li.tooth.tooth-8
    %li.tooth.tooth-9
    %li.tooth.tooth-10
    %li.tooth.tooth-11
    %li.tooth.tooth-12
    %li.tooth.tooth-13
    %li.tooth.tooth-14
    %li.tooth.tooth-15
    %li.tooth.tooth-16
    %li.tooth.tooth-32
    %li.tooth.tooth-31
    %li.tooth.tooth-30
    %li.tooth.tooth-29
    %li.tooth.tooth-28
    %li.tooth.tooth-27
    %li.tooth.tooth-26
    %li.tooth.tooth-25
    %li.tooth.tooth-24
    %li.tooth.tooth-23
    %li.tooth.tooth-22
    %li.tooth.tooth-21
    %li.tooth.tooth-20
    %li.tooth.tooth-19
    %li.tooth.tooth-18
    %li.tooth.tooth-17

#dialog