.messages
  - @case.messages.order("created_at desc")[0...@case.messages.count-1].each do |message|
    .well
      .message-heading
        %span.main
          %b Message from #{message.sender.full_name}
        %span.time-display
          Sent on: #{message.created_at.strftime("%b %-d %Y %l:%m %P")}
      %ul.horizontal.unstyled
        %li
          = message.body
        %li
          - if message.images.present?
            - message.images.each do |image|
              = image_tag image.asset.url(:thumb)

