= form_for :attachments, url: attachments_path, html: {class: "dropzone", data: {role: "dropzone-enabled"}} do |f|
  .dz-default.dz-message
    %p.top
      Drag and drop files here
    %p.or
      or
    %p
      .btn.btn-primary
        Upload files
  = f.hidden_field :message_uuid, value: @uuid
  = f.hidden_field :asset, multiple: true, data: {role: "hidden-file-input"}, id: "file-input"
