.messages-menu
  .row
    %span.body-title Message Center
    .action-item
      = link_to "Message Box", coming_soon_path
    .action-item
      = link_to "Announcements",coming_soon_path
    .action-item
      = link_to "New Messages",coming_soon_path
