.messages-menu
  .row
    %span.body-title Message Center
    .action-item
      = link_to "Message Box", "#"
    .action-item
      = link_to "Announcements", "#"
    .action-item
      = link_to "New Messages", "#"
