.messages-menu
  .row
    %h3.message-center-title
      Message Center
  .action-item
    = link_to "Message Box", "#"
  .action-item
    = link_to "Announcements", "#"
  .action-item
    = link_to "New Messages", "#"
