.messages-menu
  .row
    .action-item
      = link_to "Inbox", coming_soon_path
    .action-item
      = link_to "Sent",coming_soon_path
    .action-item
      = link_to "Archived",coming_soon_path
    .action-item
      = link_to "Drafts",coming_soon_path
