.row.body-element
  .col-lg-3
    %span.body-title Message Center
  .col-lg-9.pull-right.case-cta
    = link_to "Compose Message", new_case_path, class: "btn btn-small btn-primary"
.row.body-element
  .col-lg-2
    = render 'shared/messages_menu'
  .col-lg-10
    = render 'shared/inbox'
