%h3
  Patients
  %span.pull-right
    = link_to "Add New Patient", new_patient_path, class: "btn btn-primary"
.listing
  - if @patients.blank?
    %span.empty-message
      There are no patients yet
  - else
    %table.table.table-condensed.table-responsive
      %thead
        %th Name
        %th Email
        %th Date of Birth
      %tbody
        - @patients.each do |patient|
          %tr
            %td= link_to patient.full_name, patient_path(patient)
            %td= patient.email
            %td= patient.date_of_birth.strftime("%m/%d/%Y") if patient.date_of_birth.present?

