<!DOCTYPE html>
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', "http-equiv" => 'Content-Type'}
  %body
    %p
      From:
      %span
        StatPatient
    %p
      Regarding patient:
      %span= @message.patient.decorate.full_name_with_dob
    %p
      You have been requested to join the conversation.
    %p
      %span= link_to("Click here to respond", "#{Url.from_request(@request)}#{case_path(@case)}")

