.modal {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 20%;
  z-index: 1050;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}

.case-data {
  // display: inline-block;
  width: 100%;
  // vertical-align: top;
}

.case-tooth-chart {
  display: inline-block;
  margin-left: 10px;
  width: 45%;
  vertical-align: top;
}

.reply-area .row {
  background-color: #f3f0ee;
  padding: 10px;
}
.image-upload-control {
  margin: 10px;
}
.reply-area {
  textarea.notes {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    height: 35%;
  }
  textarea,input {
    margin: 10px;
  }
}

.messages .well {
  background-color: #fff;
  padding: 0;
  border-color: $top-bar-text-color;
}

ul.unstyled {
  list-style-type: none;
}

.message-heading {
  background-color: $top-bar-text-color;
  span {
    display: inline-block;
  }
  span.time-display {
    color: #aaa;
    font-style: italic;
    font-size: 14px;
    margin-left: 10px;
  }
  .main {
    color: #f3f0ee;
    padding-top: 0;
  }
  padding: 5px;
}

.image-gallery .title {
  border-bottom: 1px solid $image-gallery-bg;
  color: $image-gallery-bg;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;
}

.image-gallery {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow-x: scroll;
  overflow: scroll;
  overflow: -moz-scrollbars-horizontal;
  margin-bottom: 10px;
  padding-left: 10px;
  white-space: nowrap;
}

.image {
  background-color: $image-gallery-bg;
  border-radius: 4px;
  display: inline-block;
  line-height: 8;
  margin: 5px;
  width: 200px;
  img {
    width: 95%;
  }
  padding: 0 10px 0 10px;
}

.document {
  display: inline-block;
  .inner {
    background-color: #fff;
    color: $image-gallery-bg;
    font-size: 12px;
    margin-top: 10px;
    padding-left: 20px;
    i {
      font-size: 35px;
    }
    p {
      width: 100%;
    }
  }
}

.tooth-chart img {
  width: 100%;
}

a.print {
  font-size: 11px;
  padding: 10px 40px 10px 40px;
}

.case-form .submit {
  .btn {
    margin-top: 15px;
    padding: 10px 40px 10px 40px;
  }
  position: relative;
}

.case-form .body-element {
  margin-bottom: 40px;
}

.case-form label {
  color: $body-title-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 0 !important;
  padding-right: 0;
  padding-bottom: 10px;
}

form.dropzone {
  text-align: center;
  width: 100%;
  p {
    color: $selector-bar-bg;
  }

  p.top {
    font-weight: 100;
  }

  p.or {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .btn-standard {
    background-color: $selector-bar-bg;
    border-color: $selector-bar-bg;
  }
}

.dropzone-container {
  margin-top: 17px;
}

.btn-standard {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}

.send {
  background-color: $navbar-bg;
  border-color: $navbar-bg;
}

::-webkit-scrollbar {
    // -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    margin: 5px;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Begin tooth chart styles */

ul#tooth-chart {
  list-style: none;
  padding-left: 0;
  margin: 0 -28px 0 -27px; /* remove this */
}

#tooth-chart .tooth {
  position: relative;
  float: left;
  height: 208px;
}

#tooth-chart .tooth .top-tooth {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#tooth-chart .tooth .bottom-tooth {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid black;
}

#tooth-chart .tooth.middle {
  border-right: 1px solid black;
}

#tooth-chart .tooth.missing {
  background: url(image-path("FFFFFF-1.png")) !important;
}

#tooth-chart .tooth-1 {
  width: 64px;
  background: url(image-path("toothchart-adult.png")) -29px -40px;
}

#tooth-chart .tooth-2 {
  width: 70px;
  background: url(image-path("toothchart-adult.png")) -98px -40px;
}

#tooth-chart .tooth-3 {
  width: 80px;
  background: url(image-path("toothchart-adult.png")) -168px -40px;
}

#tooth-chart .tooth-4 {
  width: 70px;
  background: url(image-path("toothchart-adult.png")) -248px -30px;
}

#tooth-chart .tooth-5 {
  width: 70px;
  background: url(image-path("toothchart-adult.png")) -320px -31px;
}

#tooth-chart .tooth-6 {
  width: 70px;
  background: url(image-path("toothchart-adult.png")) -385px -32px;
}

#tooth-chart .tooth-7 {
  width: 70px;
  background: url(image-path("toothchart-adult.png")) -453px -41px;
}

#tooth-chart .tooth-8 {
  width: 70px;
  background: url(image-path("toothchart-adult.png")) -525px -41px;
}

#tooth-chart .tooth-9 {
  width: 70px;
  background: url(image-path("toothchart-adult.png")) -604px -41px;
}

#tooth-chart .tooth-10 {
  width: 70px;
  background: url(image-path("toothchart-adult.png")) -676px -41px;
}

#tooth-chart .tooth-11 {
  width: 67px;
  background: url(image-path("toothchart-adult.png")) -741px -34px;
}

#tooth-chart .tooth-12 {
  width: 70px;
  background: url(image-path("toothchart-adult.png")) -808px -41px;
}

#tooth-chart .tooth-13 {
  width: 70px;
  background: url(image-path("toothchart-adult.png")) -874px -41px;
}

#tooth-chart .tooth-14 {
  width: 70px;
  background: url(image-path("toothchart-adult.png")) -956px -41px;
}

#tooth-chart .tooth-15 {
  width: 79px;
  background: url(image-path("toothchart-adult.png")) -1029px -41px;
}

#tooth-chart .tooth-16 {
  width: 70px;
  background: url(image-path("toothchart-adult.png")) -1108px -41px;
}

#tooth-chart .tooth-32 {
  width: 68px;
  background: url(image-path("toothchart-adult.png")) -24px -262px;
}

#tooth-chart .tooth-31 {
  width: 72px;
  background: url(image-path("toothchart-adult.png")) -97px -262px;
}

#tooth-chart .tooth-30 {
  width: 78px;
  background: url(image-path("toothchart-adult.png")) -176px -269px;
}

#tooth-chart .tooth-29 {
  width: 68px;
  background: url(image-path("toothchart-adult.png")) -252px -276px;
}

#tooth-chart .tooth-28 {
  width: 68px;
  background: url(image-path("toothchart-adult.png")) -311px -276px;
}

#tooth-chart .tooth-27 {
  width: 68px;
  background: url(image-path("toothchart-adult.png")) -379px -287px;
}

#tooth-chart .tooth-26 {
  width: 74px;
  background: url(image-path("toothchart-adult.png")) -448px -287px;
}

#tooth-chart .tooth-25 {
  width: 68px;
  background: url(image-path("toothchart-adult.png")) -525px -285px;
}

#tooth-chart .tooth-24 {
  width: 68px;
  background: url(image-path("toothchart-adult.png")) -597px -287px;
}

#tooth-chart .tooth-23 {
  width: 68px;
  background: url(image-path("toothchart-adult.png")) -661px -287px;
}

#tooth-chart .tooth-22 {
  width: 68px;
  background: url(image-path("toothchart-adult.png")) -732px -287px;
}

#tooth-chart .tooth-21 {
  width: 63px;
  background: url(image-path("toothchart-adult.png")) -812px -272px;
}

#tooth-chart .tooth-20 {
  width: 68px;
  background: url(image-path("toothchart-adult.png")) -878px -265px;
}

#tooth-chart .tooth-19 {
  width: 81px;
  background: url(image-path("toothchart-adult.png")) -951px -263px;
}

#tooth-chart .tooth-18 {
  width: 68px;
  background: url(image-path("toothchart-adult.png")) -1033px -259px;
}

#tooth-chart .tooth-17 {
  width: 87px;
  background: url(image-path("toothchart-adult.png")) -1103px -257px;
}

#tooth-chart .tooth-1.ui-selecting, #tooth-chart .tooth-1.ui-selected, #tooth-chart .tooth-1.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -29px -40px;
}

#tooth-chart .tooth-2.ui-selecting, #tooth-chart .tooth-2.ui-selected, #tooth-chart .tooth-2.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -98px -40px;
}

#tooth-chart .tooth-3.ui-selecting, #tooth-chart .tooth-3.ui-selected, #tooth-chart .tooth-3.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -168px -40px;
}

#tooth-chart .tooth-4.ui-selecting, #tooth-chart .tooth-4.ui-selected, #tooth-chart .tooth-4.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -248px -30px;
}

#tooth-chart .tooth-5.ui-selecting, #tooth-chart .tooth-5.ui-selected, #tooth-chart .tooth-5.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -320px -31px;
}

#tooth-chart .tooth-6.ui-selecting, #tooth-chart .tooth-6.ui-selected, #tooth-chart .tooth-6.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -385px -32px;
}

#tooth-chart .tooth-7.ui-selecting, #tooth-chart .tooth-7.ui-selected, #tooth-chart .tooth-7.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -453px -41px;
}

#tooth-chart .tooth-8.ui-selecting, #tooth-chart .tooth-8.ui-selected, #tooth-chart .tooth-8.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -525px -41px;
}

#tooth-chart .tooth-9.ui-selecting, #tooth-chart .tooth-9.ui-selected, #tooth-chart .tooth-9.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -604px -41px;
}

#tooth-chart .tooth-10.ui-selecting, #tooth-chart .tooth-10.ui-selected, #tooth-chart .tooth-10.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -676px -41px;
}

#tooth-chart .tooth-11.ui-selecting, #tooth-chart .tooth-11.ui-selected, #tooth-chart .tooth-11.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -741px -34px;
}

#tooth-chart .tooth-12.ui-selecting, #tooth-chart .tooth-12.ui-selected, #tooth-chart .tooth-12.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -808px -41px;
}

#tooth-chart .tooth-13.ui-selecting, #tooth-chart .tooth-13.ui-selected, #tooth-chart .tooth-13.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -874px -41px;
}

#tooth-chart .tooth-14.ui-selecting, #tooth-chart .tooth-14.ui-selected, #tooth-chart .tooth-14.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -956px -41px;
}

#tooth-chart .tooth-15.ui-selecting, #tooth-chart .tooth-15.ui-selected, #tooth-chart .tooth-15.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -1029px -41px;
}

#tooth-chart .tooth-16.ui-selecting, #tooth-chart .tooth-16.ui-selected, #tooth-chart .tooth-16.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -1108px -41px;
}

#tooth-chart .tooth-32.ui-selecting, #tooth-chart .tooth-32.ui-selected, #tooth-chart .tooth-32.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -24px -262px;
}

#tooth-chart .tooth-31.ui-selecting, #tooth-chart .tooth-31.ui-selected, #tooth-chart .tooth-31.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -97px -262px;
}

#tooth-chart .tooth-30.ui-selecting, #tooth-chart .tooth-30.ui-selected, #tooth-chart .tooth-30.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -176px -269px;
}

#tooth-chart .tooth-29.ui-selecting, #tooth-chart .tooth-29.ui-selected, #tooth-chart .tooth-29.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -252px -276px;
}

#tooth-chart .tooth-28.ui-selecting, #tooth-chart .tooth-28.ui-selected, #tooth-chart .tooth-28.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -311px -276px;
}

#tooth-chart .tooth-27.ui-selecting, #tooth-chart .tooth-27.ui-selected, #tooth-chart .tooth-27.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -379px -287px;
}

#tooth-chart .tooth-26.ui-selecting, #tooth-chart .tooth-26.ui-selected, #tooth-chart .tooth-26.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -448px -287px;
}

#tooth-chart .tooth-25.ui-selecting, #tooth-chart .tooth-25.ui-selected, #tooth-chart .tooth-25.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -525px -285px;
}

#tooth-chart .tooth-24.ui-selecting, #tooth-chart .tooth-24.ui-selected, #tooth-chart .tooth-24.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -597px -287px;
}

#tooth-chart .tooth-23.ui-selecting, #tooth-chart .tooth-23.ui-selected, #tooth-chart .tooth-23.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -661px -287px;
}

#tooth-chart .tooth-22.ui-selecting, #tooth-chart .tooth-22.ui-selected, #tooth-chart .tooth-22.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -732px -287px;
}

#tooth-chart .tooth-21.ui-selecting, #tooth-chart .tooth-21.ui-selected, #tooth-chart .tooth-21.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -812px -272px;
}

#tooth-chart .tooth-20.ui-selecting, #tooth-chart .tooth-20.ui-selected, #tooth-chart .tooth-20.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -878px -265px;
}

#tooth-chart .tooth-19.ui-selecting, #tooth-chart .tooth-19.ui-selected, #tooth-chart .tooth-19.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -951px -263px;
}

#tooth-chart .tooth-18.ui-selecting, #tooth-chart .tooth-18.ui-selected, #tooth-chart .tooth-18.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -1033px -259px;
}

#tooth-chart .tooth-17.ui-selecting, #tooth-chart .tooth-17.ui-selected, #tooth-chart .tooth-17.observation {
  background: url(image-path("toothchart-adult-highlighted.png")) -1103px -257px;
}

#tooth-chart .tooth-1.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -29px -40px !important;
}

#tooth-chart .tooth-2.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -98px -40px !important;
}

#tooth-chart .tooth-3.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -168px -40px !important;
}

#tooth-chart .tooth-4.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -248px -30px !important;
}

#tooth-chart .tooth-5.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -320px -31px !important;
}

#tooth-chart .tooth-6.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -385px -32px !important;
}

#tooth-chart .tooth-7.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -453px -41px !important;
}

#tooth-chart .tooth-8.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -525px -41px !important;
}

#tooth-chart .tooth-9.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -604px -41px !important;
}

#tooth-chart .tooth-10.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -676px -41px !important;
}

#tooth-chart .tooth-11.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -741px -34px !important;
}

#tooth-chart .tooth-12.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -808px -41px !important;
}

#tooth-chart .tooth-13.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -874px -41px !important;
}

#tooth-chart .tooth-14.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -956px -41px !important;
}

#tooth-chart .tooth-15.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -1029px -41px !important;
}

#tooth-chart .tooth-16.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -1108px -41px !important;
}

#tooth-chart .tooth-32.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -24px -262px !important;
}

#tooth-chart .tooth-31.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -97px -262px !important;
}

#tooth-chart .tooth-30.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -176px -269px !important;
}

#tooth-chart .tooth-29.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -252px -276px !important;
}

#tooth-chart .tooth-28.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -311px -276px !important;
}

#tooth-chart .tooth-27.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -379px -287px !important;
}

#tooth-chart .tooth-26.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -448px -287px !important;
}

#tooth-chart .tooth-25.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -525px -285px !important;
}

#tooth-chart .tooth-24.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -597px -287px !important;
}

#tooth-chart .tooth-23.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -661px -287px !important;
}

#tooth-chart .tooth-22.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -732px -287px !important;
}

#tooth-chart .tooth-21.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -812px -272px !important;
}

#tooth-chart .tooth-20.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -878px -265px !important;
}

#tooth-chart .tooth-19.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -951px -263px !important;
}

#tooth-chart .tooth-18.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -1033px -259px !important;
}

#tooth-chart .tooth-17.extracted {
  background: url(image-path("toothchart-adult-extracted.png")) -1103px -257px !important;
}

/* End tooth chart styles */

.alert-danger.urgent {
  background-color: #E25341;
  margin-bottom: 10px;
  padding: 5px;
}

.urgent-toggle.active {
  background-color: red;
}

.urgent.btn {
  background-color: red;
  color: #fff;
}

.checkbox {
  display: inline-block;
  margin-right: 10px;
  input {
    margin-top: 8px;
  }
}

.tooth-chart-trigger img {
  background: url(image-path("AdultToothChart_1.jpg"));
  height: 100%;
  width: 100%;
}

.remodal .title {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  padding-bottom: 10px;
}

.tooth-chart .title {
  color: #868e8c;
  font-size: 18px;
  padding-bottom: 10px;
}

.labeled-image {
  display: inline-block;
}

.annotation-label {
  color: #868e8c;
  font-size: 13px;
  padding-bottom: 0;
}
