.case-data {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.case-image {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.reply-area {
  margin-left: 20px;
}
.image-upload-control {
  margin: 10px;
}
.reply-area {
  textarea.notes {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    height: 35%;
  }
  textarea,input {
    margin: 10px;
  }
}

.hero img {
  margin: 10px;
  width: 70%;
}

.messages .well {
  background-color: #fff;
  padding: 0;
  border-color: $top-bar-text-color;
}

ul.unstyled {
  list-style-type: none;
}

ul.horizontal li {
  display: inline-block;
  padding: 10px;
}

.message-heading {
  background-color: $top-bar-text-color;
  span {
    display: inline-block;
  }
  span.time-display {
    color: #aaa;
    font-style: italic;
    font-size: 14px;
    margin-left: 10px;
  }
  .main {
    color: #f3f0ee;
    padding-top: 0;
  }
  padding: 5px;
}

form.dropzone {
  margin: 10px;
  display: inline-block;
  width: 20%;
}
