.modal {
  position: fixed;
  top: 10%;
  left: 20%;
  right: 20%;
  z-index: 1050;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}

.case-data {
  display: inline-block;
  // margin: 10px;
  // padding: 10px;
}

.case-image {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.reply-area {
  padding: 10px;
}
.image-upload-control {
  margin: 10px;
}
.reply-area {
  textarea.notes {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    height: 35%;
  }
  textarea,input {
    margin: 10px;
  }
}

.hero img {
  margin: 10px;
  width: 90%;
}

.messages .well {
  background-color: #fff;
  padding: 0;
  border-color: $top-bar-text-color;
}

ul.unstyled {
  list-style-type: none;
}

ul.horizontal li {
  display: inline-block;
  padding: 10px;
}

.message-heading {
  background-color: $top-bar-text-color;
  span {
    display: inline-block;
  }
  span.time-display {
    color: #aaa;
    font-style: italic;
    font-size: 14px;
    margin-left: 10px;
  }
  .main {
    color: #f3f0ee;
    padding-top: 0;
  }
  padding: 5px;
}

.tooth-chart img {
  width: 100%;
}

.case-form .submit {
  input {
    padding: 10px 40px 10px 40px;
  }
  position: relative;
  right: -98%;
}

.case-form .body-element {
  margin-bottom: 40px;
}

.case-form label {
  color: $body-title-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 0 !important;
  padding-right: 0;
}

form.dropzone {
  text-align: center;
  width: 100%;
  p {
    color: $selector-bar-bg;
  }

  p.top {
    font-weight: 100;
  }

  p.or {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .btn-standard {
    background-color: $selector-bar-bg;
    border-color: $selector-bar-bg;
  }
}

.dropzone-container {
  margin-top: 17px;
}

.btn-standard {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}

.send {
  background-color: $navbar-bg;
  border-color: $navbar-bg;
}

