.large-input textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 35%;
  margin-top: 10px;
  width: 100%;
}
.lab-form a.send {
  color: #fff;
  margin-left: 10px;
}

.print-buttons {
  text-align: center;
}

