.large-input textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 35%;
  margin-top: 10px;
  width: 100%;
}
.lab-form a.send {
  color: #fff;
  margin-left: 10px;
}

.print-buttons {
  text-align: right;
}

.lab-form .dropzone-container {
  margin-top: 0;
}

.lab_item_types .type {
  background-color: #1dbc9c;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.order-component {
 margin-right: 5px;
}

.lab-items .next {
  display: none;
  .pull-right {
    margin-right: 20px;
  }
}

a.back-button {
  display: inline-block;
  font-size: 17px;
}

.lab-item-types .title {
  margin-bottom: 15px;
}

.next .title {
  display: inline-block;
}

.lab-item-types {
  background-color: #fff;
  border-radius: 4px;
  color: #868e8c;
  padding: 10px;
}

.type-button {
  font-size: 12px;
  margin-bottom: 5px;
}

.restart {
  a {
    font-size: 14px;
  }
  background-color: #f3f0ee;
  border-radius: 0px 0px 4px 4px;
  float: left;
  margin-top: -9px;
  padding: 5px 5px 5px 5px;
}

.item-description {
  background-color: #fff;
  border-radius: 4px;
  display: none;
  color: #868e8c;
  margin-bottom: 5px;
  padding: 5px;
}

.item-description.with-tab {
  border-radius: 4px 4px 4px 0;
}
