body { font-family: 'OpenSans'; }

a { text-decoration: none !important; }

.main {
  // max-width: 900px;
  padding-top: 20px;
  margin: 0 auto;
}

.empty-message {
  color: #ccc;
  font-style: italic;
}

.listing {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
}

h4 {
  color: #f39c12;
  padding: 10px;
}

a.btn-small {
  font-size: 0.8em;
  text-transform: uppercase;
}

