body {
  font-family: 'Open Sans', sans-serif;
}

a { text-decoration: none !important; }


div {
  // border: 1px solid red;
}

.main {
  // max-width: 900px;
  padding-top: 20px;
  margin: 0 auto;
}

.empty-message {
  color: #ccc;
  font-style: italic;
}

.listing {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
}

h4 {
  color: #f39c12;
  padding: 10px;
}

a.btn-small {
  font-size: 0.8em;
  text-transform: uppercase;
}

.main-business {
  width: 100%;
  float: left;
  min-height: 400px;
  height: auto;
  background-color: $body-bg;
  padding: 20px;
  a {
    font-size: 1.4em;
    color: $body-text-color;
}
}
[data-role="link-selector"] {
  cursor: pointer;
}
[data-role="row-selector"]:hover {
  background-color: $row-selected-background-color;
}

[data-role="link-selector"]:hover {
  background-color: $row-selected-background-color;
}

.btn-primary {
  background-color: $row-selected-background-color;
  border: none;
}

.table {
  font-size: $message-default-font-size * 0.9;
}

.select2-container .select2-choice {
  display: block;
  height: 41px;
  width: 440px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;

  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;

  border-radius: 4px;

  background-clip: padding-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -o-linear-gradient(bottom, #eee 0%, #fff 50%);
  background-image: -ms-linear-gradient(top, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(top, #fff 0%, #eee 50%);
                                                                                                                                }
