body {
  font-family: 'Open Sans', sans-serif;
}

a { text-decoration: none !important; }


div {
  // border: 1px solid red;
}

.main {
  // max-width: 900px;
  padding-top: 20px;
  margin: 0 auto;
}

.empty-message {
  color: #ccc;
  font-style: italic;
}

.listing {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
}

h4 {
  color: #f39c12;
  padding: 10px;
}

a.btn-small {
  font-size: 0.8em;
  text-transform: uppercase;
}

.main-business {
  width: 100%;
  float: left;
  min-height: 400px;
  height: auto;
  background-color: $body-bg;
  padding: 20px;
  a {
    font-size: 1.4em;
    color: $body-text-color;
  }
}
[data-role="link-selector"] {
  cursor: pointer;
}
[data-role="link-selector"]:hover {
  background-color: $row-selected-background-color;
}

.btn-primary {
  background-color: $row-selected-background-color;
}
