.monograph {
  border: 1px solid black;
  min-height: 600px;;
  padding: 20px;
}

.pt-info {
  font-size: 10px;
}

.drug-attr {
  font-weight: bold;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}

.drug-desc {
  font-size: 15px;
  text-decoration: italic;
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
}
