$text-white: #FFFFFF;
$top-bar-bg: #34515E;
$top-bar-height: 35px;
$top-bar-text-color: #5D747E;

$navbar-bg: #EF6958;
$navbar-color: #F3F0EE;
$navbar-height: 70px;

$selector-bar-bg: #1DBC9C;
$selector-bar-color: #6AD3BE;
$selector-bar-height: 70px;

$hero-menu-bg: #76D7C4;
$menu-icon-color: $navbar-bg;

$body-bg: #D6F3ED;
$counter-badge-bg: #1DBC9C;
$message-subject-color: #EF6755;
$message-meta-color: #348C7B;

$footer-text-color: $top-bar-text-color;
$footer-bar-bg: $top-bar-bg;
$footer-bar-height: $top-bar-height * 3;

