$text-white: #FFFFFF;
$top-bar-bg: #34515E;
$top-bar-height: 35px;
$top-bar-text-color: #F3F0EE;
$row-selected-background-color: #76D7C4;

$navbar-bg: #EF6958;
$navbar-color: #F3F0EE;
$navbar-height: 75px;
$navbar-selected-bg: #E25341;
$navbar-selected-height: 75px;

$selector-bar-bg: #1DBC9C;
$selector-bar-color: #F3F0EE;
$selector-bar-height: 83px;
$selector-bar-select-color: #838383;

$hero-menu-bg: #76D7C4;
$hero-icon-color: $navbar-bg;
$hero-icon-size: 3.5em;
$hero-icon-caption-size: 1.4em;

$body-bg: #D6F3ED;
$body-title-color: #1F937C;
$body-text-color: #868E8C;
$counter-badge-bg: #1DBC9C;

$message-header-bg: #FFFFFF;
$message-default-font-size: 1.3em;
$message-list-bg: #EBF9F6;
$message-header-color: #369D89;
$message-default-color: #727373;
$message-subject-color: #EF6755;
$message-meta-color: #7DB8AD;
$message-meta-font-size: 0.7em;
$message-separator-color: #D9F4EE;

$action-item-separator-color: #EAF9F6;

$footer-text-color: $top-bar-text-color;
$footer-bar-bg: $top-bar-bg;
$footer-bar-height: $top-bar-height * 3;

$logo-first-weight: 700;
$logo-second-weight: 300;
$logo-font-size: 30px;
