.row.body-element.bottomframe
  .pull-left
    = render partial: 'layouts/stat_patient', locals: {opacity: 'medium'}
  %span.pull-right.copyright
    Stat Patient Portal &copy;2014. All Rights Reserved.

