.row
  .bottomframe
    .pull-left
      = link_to root_path do
        = render partial: 'layouts/stat_patient', locals: {logo_file: 'logo-gray.png'}
    %span.pull-right.copyright
      Stat Patient Portal (c)2014. All Rights Reserved.

