.row.body-element.bottomframe
  .col-lg-12
    = render partial: 'layouts/stat_patient', locals: {opacity: 'medium'}
    %span.pull-right.copyright
      Stat Patient, Inc. &copy;2014. All Rights Reserved.

