- icons = {statimage: ['fa-file-photo-o', new_case_url], statlab: ['fa-flask', new_laboratory_order_path], statscript: ['fa-edit', new_prescription_order_path], statclaim: ['fa-file-text', coming_soon_url], schedule: ['fa-calendar',coming_soon_url]}

-icons.each do |stat_service, stuff|
  .hero-icon-container
    = link_to 'javascript:null(0);', class: 'mini-hero', data:{role: 'link-selector', target:"#{ stuff[1]}" } do
      .hero-caption
        %span
          %i{class: "fa #{stuff[0]}"}
          = stat_service


