.hero-icon-container.vertical-menu
  .menu-item
    = link_to  coming_soon_path do
      %i.fa.fa-user-md
      Profile
  .menu-item
    = link_to coming_soon_path do
      %i.fa.fa-gear
      Settings
  .menu-item
    = link_to coming_soon_path do
      %i.fa.fa-life-ring
      Help
